<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Similarity Checker System</title>
    <!--<link type="text/css" rel="stylesheet" href="{{url_for('static', filename='main.css')}}">-->
</head>
<body>
    <form action="/" method="post" id="checker-ui">
        <div class="checker-text-left">
            <p>Text A:</p>
            <textarea rows="20" cols="100" name="text_a">{{text_a}}</textarea><br>
        </div>
        <div class="checker-text-right">
            <p>Text B:</p>
            <textarea rows="20" cols="100" name="text_b">{{text_b}}</textarea><br>
        </div>
        <div class="checker-combobox-method">
             <select name="checking-method">
                 <option value="cosine">Cosine</option>
                 <option value="jaccard">Jaccard</option>
                 <option value="cosine_stemming">Cosine (stemming is applied)</option>
                 <option value="jaccard_stemming">Jaccard (stemming is applied)</option>
                 <option value="cosine_stemming_stopwords_removed">Cosine (stemming and stopwords removal are applied)</option>
                 <option value="jaccard_stemming_stopwords_removed">Jaccard (stemming and stopwords removal are applied)</option>
             </select>
        </div>
        <div class="checker-button-submit">
            <input type="submit" value="Submit!">
        </div>
    </form>
</body>
</html>